{
    "user1": {
      "creds": "--username user1 --password pass1"
    },
    "user2": {
      "creds": "--username user2 --password pass2"
    },
    "user3": {
      "creds": "--username user3 --password pass3"
    }
  }
  